@charset "UTF-8";

/* figma는 기본적으로 구글서체를 사용 */
body {
	font: 14px/1.5 "Nanum Gothic", sans-serif;
	color: #191919;	
}

a,a:link {
	text-decoration: none;
	color: inherit;
}
.my-1 { /* margin y-axis : 세로 마진 */
	margin: 1rem 0;
}
.px-1 { /* x-axis : 가로 패딩 */
	padding: 0 1rem;
}
.mx-1 { /* x-axis : 가로 마진 */
	margin: 0 1rem;
}
.my-3 { /* margin y-axis : 세로 마진 */
	margin: 3rem 0;
}
.mx-3 { /* x-axis : 가로 마진 */
	margin: 0 3rem;
}
.banner {
	background: #7E8C24;	
}
.banner-wrap {
	max-width: 1190px;
	margin: 0 auto;
	height: 58px;
	line-height: 58px;
	position: relative;	
}
.text-white {
	color: white;
}
.banner-wrap p {
	text-align: center;
}
.banner-wrap button {
	position: absolute;
	font-size: 1.250rem;
	right: 0;
	top: 40%;
	border: 0;
	background: none;
}
/* ========================== sideNav ========================== */
#sideWrap {
	position: fixed;
	z-index: 1000;
	left: -100%;
	top: 0;
	background: white;
	transition: all 0.5s; /* 부드럽고 속도감 있는 움직임 */
	box-shadow: 14px 0 9px 6px rgba(0,0,0,.25); /* 박스 그림자? vs 글자 그림자(text-shadow) */
	width: 260px; /* 각자 화면에 맞게, 폭을 결정! */
	height: 100%;
	box-sizing: border-box; /* 패딩, 테두리 값을 포함해서 상자를 그리는 방법 */
}
/* ========================== header =========================== */
.header-main {
	max-width: 1190px;
	margin: 0 auto;
}
.main-top > ul {
	display: flex;
	justify-content: right;
/* 	flex-direction: column; 행 */
/* 	column-gap: 1rem; display:grid 적용시 grid 아이템에게 적용하는 여백 */
}
.main-top > ul > li {
	margin: 0 0 0 10px
}

.main-logo {
	display: flex;
	justify-content: center;
}

.main-nav {
	display: flex;
	justify-content: space-between; /* 수평 정렬 : 양끝 맞추고 균등하게 */
	align-items: center; /* 수직 정렬 */
}
.main-nav > button {
	border: 0;
	background: none;
}
button > .fas {
	margin-right: 10px;
}
#gnb {
	display: flex;
	column-gap: 2rem;
}

.search {
	border: 1px solid #191919;
	border-radius: 30px;
}
.search input[type=text] {
	border: 0;
	outline: 0;
	position: relative;
	left: 15px;
	top: -5px;
}
.search input[type=image] {
	position: relative;
	right: 15px;
	top: 2px;
}

/* bxslider 스타일 변경 */
.bx-wrapper {
	-moz-box-shadow: 0;
    -webkit-box-shadow: 0;  /* 지원하지 않는 브라우저를 인식시키기 위한 vendor prefix */
    box-shadow: 0;          /* 그림자 */
    border: 0;
}


/* ======================= main ================== */
.article-wrap {
	max-width: 1190px;
	margin: 0 auto;
}
.tab-nav > ul, .tab-imgs {
	display: flex;
	column-gap: 20px;
}
/* .tab-imgs > li { */
/* 	overflow: hidden; 넘치면? 감춘다.. */
/* } */
.tab-imgs > li img{
	max-width: 100%;
}


.tab-nav > ul li {
	background: gray;
	border-radius: 20px;
	padding:10px 40px;	
}
.tab-nav > ul li.tabbed { /* 종속선택자 : li 태그중 class가 tabbed인 요소 */
	background: #7E8C24;
	color: white;
}


@media all and (min-width: 1400px) {
	/* 가로폭 1400px 이상이면 적용할 css */
}

@media all and (max-width:1200px) {
	/* 가로폭 최대 1200px (1200이하라면) 적용할 css */
}

@media all and (max-width:780px) {
	/* 가로폭 최대 780px (7~9인치 이하라면) 적용할 css */
}

@media all and (max-width:480px) {
	/* 가로폭 최대 480px (480px이하라면) 적용할 css */
}

@media all and (max-width:375px) {
	/* 가로폭 최대 375px (375px이하라면) 적용할 css */
}










