@charset "UTF-8";
/*=============== 공통스타일 ======================*/
body {
	font: 14px/1.5 "Noto Sans KR", sans-serif;
	color: #fff;
	background-color: #4f0600;
}
.none {
	display: none;
}

a, a:link {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}
/*==================각 부분 스타일 =====================  */
header{
	background: #fff; /* 배경색상 : 흰색(white), rgba(255,255,255,1) */
}
.header-wrap {
	max-width: 1200px;/* 화면이 1200보다 작으면 100% 크면 무조건 1200 */ 
	margin: 0 auto;
}
.header-top{
	height: 42px;
}
#logo {
	float: left;
}
.header-top > nav{
	float: right;
} 
#tnb {
	float: right;
	padding: 0 20px 0 0 ;
	color: #191919;
}
#tnb > li{/* float는 자식에게 직접 써줘야한다. */
	float: left;
	margin: 0 0 0 10px;
	line-height: 42px; /* 행간 : 공간의 높이와 같은 값을 쓰면 수직 중앙에 온다. */
	text-transform: capitalize;
}
#tnb a {
	font-size: 1rem;
}
#tnb a:hover {
	text-decoration: overline underline;
}
#modelText{
	clear: both;/* float를 left, right로 설정한 경우 다음 행에 영향을 미치는  */
	height: 365px;
	overflow: hidden;
    margin: 35px 0 0 0;
}
.model {
	float: left;
	position: absolute;
}
.text {
	float: right; /* 글자가 오른쪽 그로 밀리면서 크기도 글자만큼 작아짐 */
	width: 720px; /* 글자의 기준을 오른쪽 끝에서 왼쫀으로 720px 만큼 옮김 */
	height: 365px; /* float, position을 하면 높이가 0이 되어 공간을 만들어 주기 위해 씀 */
	color: #191919;
	padding: 0 0 0 20px;
	box-sizing: border-box;/* width 720px, height 365px를 유지함 */
	position: relative; /* 상대적 : 상자를 p의 기준요소로 인식하는 것 */
	
}
.text >p:nth-child(1) {
	font-size: 60px;
	text-transform: capitalize;
	color: #000;
	position: absolute;
	top: 50px; /* 위쪽 기준점으로 아래바향으로 50px 이동 */
	
}
.text >p:nth-child(2) {
	font-size: 60px;
	color: #cf160c;
	position: absolute;
	top: 90px;
}
.text >p:nth-child(3) {
	font-size: 90px;
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
	position: absolute;
	top: 90px;
	left: 150px;
}
/* p.398 애니메이션 */
.txt1 {/* build에 적용할 애니메이션과 시간, 규칙을 정의 */
	animation: txt1ani 5s ease-in-out;
}
.txt2 {
	animation: txt2ani 2s;
}
.txt3 {
	animation-name: txt3ani;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation
}
@keyframes txt3ani {
	0%{
		font-size: 0
	}
	50%{
		font-size: 120px;
	}
	100%{
		font-size: 90px;
	}
}
@keyframes txt1ani {/* 애니메이션 정의 */
	0%{opacity:0; top: 0;}
	/* 25%{}
	50%{}
	75%{} */
	100%{opacity:1; top: 50px;}/* 숫자를 쪼갤수록 세분화됨. */
}
@keyframes txt2ani {
	0%{
		opacity: 0;
		top: 150px;
	}
	100%{
		opacity: 1;
		top: 80px;
	}
}
/* =========================main-nav, gnb============ */
.main-nav {
	background: #830e04;
	font-size: 16px;
	text-align: right;
}
#gnb {
	max-width: 1200px;
	margin: 0 auto;
}
#gnb > li {
	display: inline-block;
	padding: 15px;
	position :relative; /* absolute의 기준점을 사용한다. */
}
#gnb a:hover {
	color:#ffe400;
}
#gnb >li:hover {
	background: rgba(0,0,0,.5);
}
.lnb {
	display: none;
	position: absolute;
	top: 100%;/* 부모의 높이 100% */
	left: 0;
	width: 100%; /* 부모만큼 커져라 */
	background: rgba(0,0,0,.3);
	text-align: center;
	z-index: 10;/*아래에서부터 위로 자료순서를 정해서 위로 덮어쓰게함.  */
}
.lnb > li {
	/* padding: 15px 0 ; 세로방향 그대로 쌓아 올림.*/
	/* margin: 10px 0; 세로방향은 겹쳐서 계산함. */
}
.lnb a {
	display: block;
	padding: 5px 0;
	/* height: 100% */ /* 부모 lnb의 높이와 같게 한다. */
}
.lnb a:hover {
	background: #ffe400;
	color: #830e04 !important;
}
#gnb > li:hover .lnb {
	display: block;
}

/*============main =================================  */
header{
	background: url(../images/dotted.jpg);
}
#main h3 {
	text-align: center;
	text-transform: uppercase;
	/* height: 140px;
	line-height: 140px; 두가지 쓰면 중앙에 오게 함*/
	padding: 100px 0 0 0;
	
}
.titles{
	text-align: center;	
	position: relative;
}
.titles h3 {
	font-size : 1.5rem;
	margin: 0 0 10px 0;
}
.titles h4 {
	font-size : 1.250rem;
	margin: 10px 0 20px 0;
}
/* :hover, :active, :link <- pseudo class  */
.titles:before { 
	content: '';
	display: block;
	width: 60px;
	height: 2px;
	background: white;
	/* margin-left:8px; */ /* position을 쓰면 marign: 0 auto;코드가 안된다. */
	position: absolute;
	top: 136px;
	left: 50%;
	transform: translate(-50%);
}
.course-list {
	overflow: hidden;
}
.course-list li {
	width: calc(33.33333333% - 10px);
	margin: 0 5px;
	float: left;
	background: #fff;
	text-align: center;
	font-size: 0;
	position: relative;
}
/* .course-list li:hover img { pseudo-class : 마우스 오버, 클릭..상태
	opacity: .5;  *//* 반투명 */
	/*transform: scale(1.1);
	transform: translate(-50px, -50px); 이동: x, y
	transform: rotate(30deg); 30도 회전
	transform: skew(20deg, 10deg);  세로, 가로
	맨 마지막 부분만 적용된다 */
}
.course-list li a {
	background: black;
	display: block;
}
.course-list img {
	width:100%;
	opacity: 1; /* 1 선명, 0투명, 0.5 반투명 */
	/* transition: all 0.3s; *//* 처음과 끝사이 중간과정을 생성 */
	/* 1.transition -> 2. transform */
}
.course-list li:hover .overlay {
	display: block; /* 단순하게 보이기 */
}
.overlay {
	display: none;
	position: absolute;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	/* top: 100%; */
	transition: all 0.3s;
}
.bg-white {
	background: white;
}
.bg-black {
	background: black;
}
.bg-info {
	background: url(../images/image1.png) no-repeat right top;
	padding: 20px 0;
}
.article-wrap {
	max-width: 1200px;
	margin: 0 auto;	
	overflow: hidden;
}
.course-list .class-title { /* 포함된 관계를 자세히 써주는게 더 정확하게 적용된다. */
	color: #4f0600;
	font-size: 24px;
	font-weight: bolder;
}
.course-list strong {
	font-size: 16px;
	background: #191919;
	padding: 10px 20px;
	margin: 15px; /* 사방으로 15px만큼 띈다. */
	display: inline-block;
}
.article-wrap h5 {
	font-size: 24px;
	font-weight: bolder;
}
.article-wrap h6 {
	font-size: 20px;
}
.article-wrap p:nth-of-type(1), .article-wrap p:nth-of-type(4)  {
	margin: 20px 0;
}
/* ================== sns =============== */
#sns > li {
	display: inline-block;
	font-size: 2em;
	margin-right: 10px;
	color: tomato;
}
/* ==================== ad ============ */
.ad {
	/* display: flex;
	flex-direction: column;세로
	justify-content: flex-end; *//* 끝 strar:시작점 */
	height: 245px;
	background: linear-gradient(90deg, #979b9a, #fff);
	position: relative;
}
.ad > h4 {
	position: absolute;
	right: 5%;
	top: 40%;
	color: #4f0600;
	font-size: 28px;
	text-transform: capitalize;
	font-weight: bold;
}
.ad > p {
	position: absolute;
	right: 5%;
	top: 55%;
	color: #000;
	font-size: 16px;
	text-align: right; /* text 오른쪽 정렬 */
}
.topic-list {
	overflow: hidden;
	margin: 50px 0;
}
.topic-list li {
	width: calc(50% - 10px); /* 가로의 폭만 움직임. */
	float: left;
}
.topic-list li:nth-child(1) {
	margin-right: 20px;
}
/* .topic-list figure{
	font-size: 0;	
} */
.topic-list img{
	max-width: 100%;
}
.list-tilte {
	text-align: center;
	text-transform: capitalize;
	background: #000;
	padding: 15px;
	color: white;
	font-size: 18px;
}
.list-desc {
	background: white;
	color: #000;
	font-size: 15px;
	text-align: center;
	padding: 20px 0 ;
}

/*=======================banner===============  */

.banner {
	/*position: fixed; 모니터 기준으로 고정되어 다른것과 상관없이 옮길 수 있음 */
	position: absolute;
	top: 20%;
	right: 10%;
}

/*=================footer===============  */

.footer-wrap {
	max-width: 1200px;
	margin: 0 auto;	
}
.site-name {
	font-size: 14px;
	text-transform: capitalize;
	text-align: center;
	margin: 50px 0 10px ;
}
.footer-wrap p:nth-last-child(1) { /* nth-last-child(1) 뒤에서 부터 첫번째 */
	text-align: center;
	height: 100px;
}